









// Intro

@media(min-width:320px) and (max-width:575.98px){
        header{
        height: 100vh;
        .header_wrapper{
            max-width: 1165px;
            padding: 0 5%;
            margin: 0 auto;
        }
        .intro_info_title{
            font-size: 35px !important;
        }
    }
}


@media(min-width:576px) and (max-width:767.98px){
        header{
        height: 100vh;
        .header_wrapper{
            max-width: 1165px;
            padding: 0 5%;
            margin: 0 auto;
        }
        .intro_info_title{
            font-size: 35px !important;
        }
    }
}


@media(min-width:768px) and (max-width:991.98px){
        header{
        height: 100vh;
        .header_wrapper{
            max-width: 1165px;
            padding: 0 5%;
            margin: 0 auto;
        }
        .intro_info_title{
            font-size: 32px !important;
            padding-right: 8%;
        }
    }
}


@media(min-width:992px) and (max-width:1199.98px){
    header{
        height: 100vh;
        .header_wrapper{
            max-width: 1165px;
            padding: 0 5%;
            margin: 0 auto;
        }
        .intro_info_title{
            font-size: 35px !important;
        }
    }
}


@media(min-width:1200px) and (max-width:1399.98px){
    header{
        height: 100vh;
        .header_wrapper{
            max-width: 1165px;
            padding: 0 2%;
            margin: 0 auto;
        }

    }
}


@media(min-width:1400px){
    header{
        height: 100vh;
        .header_wrapper{
            max-width: 1165px;
            margin: 0 auto;
        }

    }
}






















// Intro

@media(min-width:320px) and (max-width:575.98px){}


@media(min-width:576px) and (max-width:767.98px){}


@media(min-width:768px) and (max-width:991.98px){}


@media(min-width:992px) and (max-width:1199.98px){}


@media(min-width:1200px) and (max-width:1399.98px){}


@media(min-width:1400px){}






















// Intro

@media(min-width:320px) and (max-width:575.98px){}


@media(min-width:576px) and (max-width:767.98px){}


@media(min-width:768px) and (max-width:991.98px){}


@media(min-width:992px) and (max-width:1199.98px){}


@media(min-width:1200px) and (max-width:1399.98px){}


@media(min-width:1400px){}






















// Intro

@media(min-width:320px) and (max-width:575.98px){}


@media(min-width:576px) and (max-width:767.98px){}


@media(min-width:768px) and (max-width:991.98px){}


@media(min-width:992px) and (max-width:1199.98px){}


@media(min-width:1200px) and (max-width:1399.98px){}


@media(min-width:1400px){}






















// Intro

@media(min-width:320px) and (max-width:575.98px){}


@media(min-width:576px) and (max-width:767.98px){}


@media(min-width:768px) and (max-width:991.98px){}


@media(min-width:992px) and (max-width:1199.98px){}


@media(min-width:1200px) and (max-width:1399.98px){}


@media(min-width:1400px){}






















// Intro

@media(min-width:320px) and (max-width:575.98px){}


@media(min-width:576px) and (max-width:767.98px){}


@media(min-width:768px) and (max-width:991.98px){}


@media(min-width:992px) and (max-width:1199.98px){}


@media(min-width:1200px) and (max-width:1399.98px){}


@media(min-width:1400px){}






















// Intro

@media(min-width:320px) and (max-width:575.98px){}


@media(min-width:576px) and (max-width:767.98px){}


@media(min-width:768px) and (max-width:991.98px){}


@media(min-width:992px) and (max-width:1199.98px){}


@media(min-width:1200px) and (max-width:1399.98px){}


@media(min-width:1400px){}






















// Intro

@media(min-width:320px) and (max-width:575.98px){}


@media(min-width:576px) and (max-width:767.98px){}


@media(min-width:768px) and (max-width:991.98px){}


@media(min-width:992px) and (max-width:1199.98px){}


@media(min-width:1200px) and (max-width:1399.98px){}


@media(min-width:1400px){}






















// Intro

@media(min-width:320px) and (max-width:575.98px){}


@media(min-width:576px) and (max-width:767.98px){}


@media(min-width:768px) and (max-width:991.98px){}


@media(min-width:992px) and (max-width:1199.98px){}


@media(min-width:1200px) and (max-width:1399.98px){}


@media(min-width:1400px){}






















// Intro

@media(min-width:320px) and (max-width:575.98px){}


@media(min-width:576px) and (max-width:767.98px){}


@media(min-width:768px) and (max-width:991.98px){}


@media(min-width:992px) and (max-width:1199.98px){}


@media(min-width:1200px) and (max-width:1399.98px){}


@media(min-width:1400px){}






















// Intro

@media(min-width:320px) and (max-width:575.98px){}


@media(min-width:576px) and (max-width:767.98px){}


@media(min-width:768px) and (max-width:991.98px){}


@media(min-width:992px) and (max-width:1199.98px){}


@media(min-width:1200px) and (max-width:1399.98px){}


@media(min-width:1400px){}












