@media (min-width:320px)and(max-height:499.98px){
    .menu_open{

        .menu_container{

    
            .menu_link{

                font-size:0.8rem !important;

                line-height: 35px !important;

              }

        }
    }
    
}
.burger{
    flex-direction: column;
    gap: 5px;
    cursor: pointer;

    z-index: 99 !important;
    span{
        width: 30px;
        height: 4px;
        cursor: pointer;
        background:#fff;
    }
}






// Header

@media(min-width:320px) and (max-width:575.98px){
    .menu_link{
        font-size: 1.7rem !important;
    }
    header{
        height: 100vh;
        .burger{
            padding-top: 10%;
        }
        .header_wrapper{
            max-width: 1165px;
            padding: 0 5%;
            margin: 0 auto;
        }
        .intro_info_title{
            font-size: 30px !important;
        }

    }
    .logo{
        min-width: 150px !important;
        display: inline-block;
    }
    .intro_info{
        flex-wrap: wrap;
        justify-content: center !important;
        margin: auto;
    }
    .intro_info_text-btn{
        width: 100%;
        margin: 5% auto 0;
    }
    .intro_info_title{
        text-align: left;
        width: auto;
    }
    .info_text{
        text-align: left !important;
    }

    .header_container{
        justify-content: space-between;
    }
    .burger{
        padding-top: 5%;

        .span_burger2{
            width: 44px;
            margin: 0 0 0 auto;
        }
        span{
            width: 60px;
            height: 2px;
            background: #D8B152;
        }
    }

}
@media(min-width:576px) and (max-width:767.98px){
        header{
        height: 100vh;
        .header_wrapper{
            max-width: 1165px;
            padding: 0 5%;
            margin: 0 auto;
        }
        .intro_info_title{
            font-size: 35px !important;
        }
    }
    .logo{
        width: 150px !important;
        display: inline-block;
    }
    .intro_info{
        flex-wrap: wrap;
        justify-content: center !important;
        margin: auto;
    }
    .intro_info_text-btn{
        width: 100%;
        margin: 5% auto 0;
    }
    .intro_info_title{
        text-align: left;
        width: auto;
    }
    .info_text{
        text-align: left !important;
    }

    .header_container{
        justify-content: space-between;
    }
    .burger{
        padding-top: 5%;

        .span_burger2{
            width: 44px;
            margin: 0 0 0 auto;
        }
        span{
            width: 60px;
            height: 2px;
            background: #D8B152;
        }
    }
}
@media(min-width:768px) and (max-width:991.98px){
        header{
        height: 100vh;
        .header_wrapper{
            max-width: 1165px;
            padding: 0 5%;
            margin: 0 auto;
        }
        .intro_info_title{
            font-size: 32px !important;
            padding-right: 8%;
        }
    }
}
@media(min-width:992px) and (max-width:1199.98px){
    header{
        height: 100vh;
        .header_wrapper{
            max-width: 1165px;
            padding: 0 5%;
            margin: 0 auto;
        }
        .intro_info_title{
            font-size: 35px !important;
        }
    }
}
@media(min-width:1200px) and (max-width:1399.98px){
    header{
        height: 100vh;
        .header_wrapper{
            max-width: 1165px;
            padding: 0 2%;
            margin: 0 auto;
        }

    }
}
@media(min-width:1400px){
    header{
        height: 100vh;
        .header_wrapper{
            max-width: 1165px;
            margin: 0 auto;
        }

    }
}










// Our Services

@media(min-width:320px) and (max-width:575.98px){
        .our_service_title{
        text-align: center;
    }
    .our_service_flexbox{
        justify-content: center;
        padding: 5%;
    }
}


@media(min-width:576px) and (max-width:767.98px){
        .our_service_title{
        text-align: center;
    }
    .our_service_flexbox{
        justify-content: center;
        padding: 5%;
    }
}


@media(min-width:768px) and (max-width:991.98px){
    .our_service_title{
        text-align: center;
    }
    .our_service_flexbox{
        justify-content: center;
        padding: 5%;
    }
}


@media(min-width:992px) and (max-width:1199.98px){
    .our_service_title{
        text-align: center;
    }
    .our_service_flexbox{
        justify-content: center;
        padding: 3%;
    }
}


@media(min-width:1200px) and (max-width:1399.98px){
    .our_service_title{
        text-align: center;
    }
    .our_service_flexbox{
        justify-content: center;
        padding: 3%;
    }
}


@media(min-width:1400px){}






















// Footer
@media(max-width:767.98px){
.mobile_none{
    display: none !important;
}
.desktop_flex{
    display: flex !important;
}
.mobile_hr{
    display: block !important;
}
.flex_col_text{
    display: flex;
    gap: 10px;
}
}
@media(min-width:768px){
    .mobile_none{
        display: flex !important;
    }
    .desktop_flex{
        display: none !important;
    }
    .mobile_hr{
        display: none !important;
    }
}







@media(min-width:320px) and (max-width:575.98px){
    footer{
        padding:140px 22px 48px !important;
        .footer_contacts_mobile{
            width: auto !important;
        }

        .text_show{
            display: none;
        }
        .infotmation{
            display: flex;
            justify-content: space-between;
            .flex_col_title{
                margin-bottom: 0 !important;
            }
        }

        .links_show{
            .flex_col_text{
                display: flex !important;
            }
            .infotmation{
                .flex_col_title{
                    margin-bottom: 10px !important;
                }
            }
        }
        .plus_icon{
            display: inline-block;
            width: 15px;
            height: 19px;
            transition: 0.35s;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .info_wrapper{
            width: 100%;
            padding: 0 2%;

        }
        .first_hr{
            margin: 0 auto 10px;
        }
        .mobile_hr{
            margin: 10px auto 90px;
        }
    }
    .footer_flex_cols{
        flex-wrap: wrap;
        
    }

    .footer_flex_info{
        flex-direction: column;
        gap: 20px;
        .confid,.author{
            width: 100%;
            text-align: center;
        }
    }
    .messengers_flex_col{
        width: 100% !important;
        justify-content: center;
        margin-bottom: 50px;
    }
    .col_messengers{
        justify-content: center;
    }
    .footer_flex_col_item{
        .logo{
            width: 100%;
            height: 150px;
            img{
                height: 100%;
            }
        }
        width: 100%;
        justify-content: space-between;

    }
    .col2{
        margin-top: 4%;
    }
    .col1{
        gap: 22px !important;
        margin-bottom: 5%;
        justify-content: space-between !important;
        flex-direction: column;
        .flex_col{
            width: 100%;
            .flex_col_text{
                justify-content: center;
            }
        }
    }
    .flex_col{
        width: 50%;
    }
}


@media(min-width:576px) and (max-width:767.98px){
    footer{
        padding:140px 60px 48px !important;
        .footer_contacts_mobile{
            width: auto !important;
        }
        .text_show{
            display: none;
        }
        .infotmation{
            display: flex;
            justify-content: space-between;
            .flex_col_title{
                margin-bottom: 0 !important;
            }
        }

        .links_show{
            .flex_col_text{
                display: flex !important;
            }
            .infotmation{
                .flex_col_title{
                    margin-bottom: 10px !important;
                }
            }
        }
        .plus_icon{
            display: inline-block;
            width: 15px;
            height: 19px;
            transition: 0.35s;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .info_wrapper{
            width: 100%;
            padding: 0 2%;

        }
        .first_hr{
            margin: 0 auto 10px;
        }
        .mobile_hr{
            margin: 10px auto 90px;
        }
    }
    .footer_flex_cols{
        flex-wrap: wrap;
        
    }

    .footer_flex_info{
        flex-direction: column;
        gap: 20px;
        .confid,.author{
            width: 100%;
            text-align: center;
        }
    }
    .messengers_flex_col{
        width: 100% !important;
        justify-content: center;
        margin-bottom: 50px;
    }
    .col_messengers{
        justify-content: center;
    }
    .footer_flex_col_item{
        .logo{
            width: 50%;
            img{
                height: 100%;
            }
        }
        width: 100%;
        justify-content: space-between;

    }
    .col1 {
        gap: 22px !important;
        margin-bottom: 5%;
        padding: 0 5% 0 0;
        -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
        justify-content: space-around!important;
    }
    .flex_col{
        width: 50%;
    }
}


@media(min-width:768px) and (max-width:991.98px){
    footer{
        padding: 140px 60px 48px !important;
    }
    .footer_flex_cols{
        flex-wrap: wrap;
    
    }
    .footer_flex_col_item{
        .logo{
            width: 50%;
            img{
                height: 100%;
            }
        }
        width: 100%;
        justify-content: space-between;

    }
    .col1{
        gap: 24% !important;
        margin-bottom: 5%;
    }
    .flex_col{
        width: 50%;
    }
}


@media(min-width:992px) and (max-width:1199.98px){
    .footer_flex_cols{
        flex-wrap: wrap;
    
    }
    .footer_flex_col_item{
        .logo{
            width: 50%;
        }
        width: 100%;
        justify-content: space-between;

    }
    .col1{
        gap: 24% !important;
        margin-bottom: 5%;
    }
    .flex_col{
        width: 50%;
    }
}


@media(min-width:1200px) and (max-width:1399.98px){
    .footer_flex_cols{
        flex-wrap: wrap;
    
    }
    .footer_flex_col_item{
        .logo{
            width: 50%;
        }
        width: 100%;
        justify-content: space-between;

    }
    .col1{
        gap: 24% !important;
        margin-bottom: 5%;
    }
    .flex_col{
        width: 50%;
    }
}


@media(min-width:1400px){
    .footer_wrapper{
        max-width: 1165px;
    }
}






















// About

@media(min-width:320px) and (max-width:575.98px){
    .awards{
        padding: 0 10%;
        .awards_item{
            flex-direction: column;
            text-align: center;
        }
        .awards_item_info_btn{
            margin: 2% auto 0;
            width: 260px;
        }
        .awards_item_info{
            gap: 35px;
        }
        .awards_item_info_text_title{
            font-weight: 600 !important;
            font-size: 18px !important;
            text-align: center !important;

        }
        .awards_item_info_text_subtitle{
            font-size: 14px !important;
            text-align: center !important;
        }
        .awards_item_img{
            height: 250px;
            margin: auto;
            img{
                height: 100%;
            }
        }
    }
    .awards_item_img{
        min-width: 270px;
        max-width: 271px;
    }
    .about_footer{
        margin-top: 90px;
    }
}


@media(min-width:576px) and (max-width:767.98px){
    .awards{
        padding: 0 10%;
        .awards_item{
            flex-direction: column;
            text-align: center;
        }
        .awards_item_info_btn{
            margin: 2% auto 0;
            width: 260px;
        }
        .awards_item_info{
            gap: 35px;
        }
        .awards_item_info_text_title{
            font-weight: 600 !important;
            font-size: 20px !important;
        }
        .awards_item_info_text_subtitle{
            font-size: 16px !important;
        }
        .awards_item_img{
            height: 250px;
            margin: auto;
            img{
                height: 100%;
            }
        }
    }
    .awards_item_img{
        min-width: 270px;
        max-width: 271px;
    }
    .about_footer{
        margin-top: 90px;
    }
}


@media(min-width:768px) and (max-width:991.98px){
    .awards{
        padding: 0 2%;
        .awards_item_info_btn{
            margin-top: 2%;
        }
        .awards_item_info_text_title{
            font-weight: 600 !important;
            font-size: 20px !important;
        }
        .awards_item_info_text_subtitle{
            font-size: 16px !important;
        }
        .awards_item_img{
            height: 250px;
            img{
                height: 100%;
            }
        }
    }
    .awards_item_img{
        min-width: 270px;
        max-width: 271px;
    }
    .about_footer{
        margin-top: 90px;
    }
}


@media(min-width:992px) and (max-width:1199.98px){
    .awards{
        padding: 0 2%;
        .awards_item_info_btn{
            margin-top: 2%;
        }
        .awards_item_img{
            height: 265px;
            img{
                height: 100%;
            }
        }
    }
    .awards_item_img{
        min-width: 270px;
        max-width: 271px;
    }
    .about_footer{
        margin-top: 90px;
    }
}


@media(min-width:1200px) and (max-width:1399.98px){
    .awards{
        padding: 0 2%;
        .awards_item_info_btn{
            margin-top: 2%;
        }
        .awards_item_img{
            height: 242px;
            img{
                height: 100%;
            }
        }
    }
    .awards_item_img{
        min-width: 270px;
        max-width: 271px;
    }
    .about_footer{
        margin-top: 90px;
    }
}


@media(min-width:1400px){
    .awards_item_img{
        min-width: 360px;
    }
    .about_footer{
        margin-top: 90px;
    }
}






















// Request_page
.mobile_show_btn{
    display: none;
}
@media(min-width:320px) and (max-width:575.98px){
    .main_request_wrapper{
        padding: 0 7%;
        form{
            flex-direction: column;
            gap: 10px !important;
            .main_request_form_item1{
                    width: 100% !important;
                    gap: 10px !important;
            }
        }
        .mobile_close_btn{
            display: none;
        }
        .mobile_show_btn{
            display: block;
            background: #D8B152;
            padding: 18px 0;
            margin-top: 10px;
            &:hover{
                background: #c3a14a;
            }
        }
    }
}


@media(min-width:576px) and (max-width:767.98px){
    .main_request_wrapper{
        padding: 0 3%;
    }
}


@media(min-width:768px) and (max-width:991.98px){
    .main_request_wrapper{
        padding: 0 3%;
    }
}


@media(min-width:992px) and (max-width:1199.98px){
    .main_request_wrapper{
        padding: 0 3%;
    }
}


@media(min-width:1200px) and (max-width:1399.98px){
    .main_request_wrapper{
        padding: 0 1%;
    }
}


@media(min-width:1400px){}






















// Publication_page

@media(min-width:320px) and (max-width:575.98px){
    .vertical_line{
        display: none;
    }
    .main_publication{
        margin-bottom: 100px !important;
    }
    .pl2{
        margin-left: 0 !important;
    }
    .pr2{
        margin-right: 0 !important;
    }
    .publication_wrapper{
        padding: 0 5%;
        .our_service_title{
            margin-bottom: 30px !important;
        }
        .publication_container{
            gap: 0 !important;
        }
        .publication_col{
            flex-direction: column;
            .publication_col_item{
                width: 100% !important;
                height: 100%;
                hr{
                    margin-bottom: 30px !important;
                }
            }
        }
    }
    .invisible_text{
        display: none;
    }
    .publication_col_btn{
        margin: 10px auto 0 !important;
    }
    .publication_col_title{
        font-size: 18px !important;
    }
    .publication_col_subtitle{
        font-size: 14px !important;
    }
}


@media(min-width:576px) and (max-width:767.98px){
    .vertical_line{
        display: none;
    }
    .main_publication{
        margin-bottom: 100px !important;
    }
    .pl2{
        margin-left: 0 !important;
    }
    .pr2{
        margin-right: 0 !important;
    }
    .publication_wrapper{
        padding: 0 5%;
        .our_service_title{
            margin-bottom: 30px !important;
        }
        .publication_container{
            gap: 0 !important;
        }
        .publication_col{
            flex-direction: column;
            .publication_col_item{
                width: 100% !important;
                height: 100%;
                hr{
                    margin-bottom: 30px !important;
                }
            }
        }
    }
    .publication_col_title{
        font-size: 18px !important;
    }
    .publication_col_subtitle{
        font-size: 14px !important;
    }
    .invisible_text{
        display: none;
    }
    .publication_col_btn{
        margin: 10px auto 0 !important;
    }
}


@media(min-width:768px) and (max-width:991.98px){
    .vertical_line{
        display: none;
    }
    .pl2{
        margin-left: 0 !important;
    }
    .pr2{
        margin-right: 0 !important;
    }
    .publication_wrapper{
        padding: 0 5%;
        .publication_container{
            gap: 0 !important;
        }
        .publication_col{
            flex-direction: column;
            .publication_col_item{
                width: 100% !important;
                height: 100%;
                hr{
                    margin-bottom: 30px !important;
                }
            }
        }
    }
    .invisible_text{
        display: none;
    }
}


@media(min-width:992px) and (max-width:1199.98px){

    .publication_wrapper{
        padding: 0 5%;
    }
    .invisible_text{
        color: #fff;
    }
}


@media(min-width:1200px) and (max-width:1399.98px){
    .penultimate_btn{
        margin-top: 17% !important;
    }
    .publication_wrapper{
        padding: 0 5%;
    }
    .invisible_text{
        display: none;
}
}


@media(min-width:1400px){
    .penultimate_btn{
        margin-top: 17% !important;
    }
    .invisible_text{
        display: none;
}
}






















// About page

@media(min-width:320px) and (max-width:575.98px){
    .about_section_col1{
        flex-direction: column;
        .about_section_col_img{
            width: 100% !important;
            height: 360px !important;
        }
    }
    .about_section{
        .our_service_title{
            font-size: 35px !important;
        }
    }
    .about_section_col2{
        align-items: normal !important;
        flex-direction: column;
        .about_section_col_item{
            text-align: center;
        }
    }
    .about_section_col_text{
        p{
            font-size: 20px !important;
        }
    }
    .about_section_container{
        padding: 0 8%;
    }
}


@media(min-width:576px) and (max-width:767.98px){
    .about_section_col1{
        flex-direction: column;
        .about_section_col_img{
            width: 60% !important;
        }
    }
    .about_section_col2{
        align-items: normal !important;
        flex-direction: column;
        .about_section_col_item{
            text-align: center;
        }
    }
    .about_section_col_text{
        p{
            font-size: 20px !important;
        }
    }
    .about_section_container{
        padding: 0 8%;
    }
}


@media(min-width:768px) and (max-width:991.98px){
    .about_section_col1{
        flex-direction: column;
        .about_section_col_img{
            width: 40% !important;
        }
    }
    .about_section_col2{
        align-items: normal !important;
    }
    .about_section_col_text{
        p{
            font-size: 20px !important;
        }
    }
    .about_section_container{
        padding: 0 4%;
    }
}


@media(min-width:992px) and (max-width:1199.98px){
    .about_section_col_text{
        p{
            font-size: 17px !important;
        }
    }
    .about_section_container{
        padding: 0 4%;
    }
}


@media(min-width:1200px) and (max-width:1399.98px){
    .about_section_container{
        padding: 0 4%;
    }
}


@media(min-width:1400px){}






















// Tudor page

@media(min-width:320px) and (max-width:575.98px){
    .tudor_continer{
        padding: 0 5%;
        .our_service_title{
            font-size: 25px !important;
            line-height: 34.05px;
        }
    }
    .road_border_col{
        flex-direction: column;
       .road_border_col_item{
        margin: auto;
        width: auto;
       }
    }
    .tudor{
        margin: 0  auto 0!important;
    }
//review
    .review_item_info_cards,.review_item_info_img_text{
        flex-wrap: wrap;
        justify-content: center;
    }
    .review_item_img{
        width: 90% !important;
    }
    .review_item_text{
        padding: 0 3%;
    }

    
// Hall
    .hall_item_flex{
        flex-direction: column;
    }
    .hall_item_flex_item_img,.hall_img_100height{
        min-width: auto !important;
    }
    .hall_item_flex_item_img{
    // max-height: 270px;
    }
    .hall_img_100height{
        max-height: 383px;
    }
    .hall_col1{
        flex-direction: column;
    }
    .hall_item{
        flex-direction: column;
    }
    .mobile_imgs{
        display: flex;
        gap: 20px;
        justify-content: center;
    }
    // Living Room
    .living_room{

            img{
                width: 100%;
            }

        .living_room_container{
            padding: 0 5%;
            .living_room_col2{
                border: none;
                justify-content: center;
                flex-wrap: wrap;
                .living_room_col2_item{
                    width: 100%;
                }
            }
            .living_room_flex_item{
                flex-direction: column-reverse;
            }
        }
    }
    // card_info_block
    .card_info_block{
        padding: 80px 5% 80px !important;
        font-size: 20px !important;
    }

    
    //kitchen

    .kitchen_wrapper{
        padding: 0 5%;
        .d_flex{
            flex-direction: column-reverse;
        }
        .kitchen_col_item{
            width: 100% !important;
    
        }
        .kitchen_col_item_imgs{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .kitchen_col_item_img{
                width: 100%;
            }
        }
        .absolute_top{
            position: inherit !important;

        }

        .absolute_bottom{
            position: inherit !important;

        }
        .kitchen_col2{
            flex-direction: column !important;
            .kitchen_col2_item{
                width: 100%;
            }
        }
    }

}


@media(min-width:576px) and (max-width:767.98px){
    .tudor_continer{
        padding: 0 5%;
        .our_service_title{
            font-size: 30px !important;
            line-height: 34.05px;
        }
    }
    .road_border_col{
        flex-direction: column;
       .road_border_col_item{
        margin: auto;
       }
    }
//review
    .review_item_info_cards,.review_item_info_img_text{
        flex-wrap: wrap;
        justify-content: center;
    }
    .review_item_img{
        width: 210px !important;
    }
    .review_item_text{
        padding: 0 3%;
    }
// Hall
    .hall_item_flex{
        flex-direction: column;
    }
    .hall_item_flex_item_img,.hall_img_100height{
        min-width: 200px !important;
    }
    .hall_item_flex_item_img{
    // max-height: 270px;
    }
    .hall_img_100height{
        max-height: 383px;
    }
    .hall_col1{
        flex-direction: column;
    }
    .hall_item{
        flex-direction: column;
    }
    .mobile_imgs{
        display: flex;
        gap: 20px;
        justify-content: center;
    }
    // Living Room
.living_room{
    .living_room_container{
        padding: 0 5%;
        .living_room_col2{
            border: none;
            justify-content: center;
            flex-wrap: wrap;
            .living_room_col2_item{
                width: 50%;
            }
        }
        .living_room_flex_item{
            flex-direction: column-reverse;
        }
    }
}
    // card_info_block
    .card_info_block{
        padding: 130px 60px 144px !important;
    }
    
    //kitchen

    .kitchen_wrapper{
        padding: 0 5%;
        .d_flex{
            flex-direction: column-reverse;
        }
        .kitchen_col_item{
            width: 100% !important;
    
        }
        .kitchen_col_item_imgs{
            display: flex;
            flex-direction: row;
            gap: 20px;
            .kitchen_col_item_img{
                width: 50%;
            }
        }
        .absolute_top{
            position: inherit !important;

        }

        .absolute_bottom{
            position: inherit !important;

        }
        .kitchen_col2{
            flex-direction: column !important;
            .kitchen_col2_item{
                width: 100%;
            }
        }
    }

}


@media(min-width:768px) and (max-width:991.98px){
    .tudor_continer{
        padding: 0 5%;
    }
    .road_border_col_item_title{
        font-size: 32px !important;
    }
    //review
    .review_item_info_cards,.review_item_info_img_text{
        flex-wrap: wrap;
        justify-content: center;
    }
    .review_item_img{
        width: 290px !important;
    }
    .review_item_text{
        padding: 0 3%;
    }
// Hall
    .hall_item_flex{
        flex-direction: column;
    }
    .hall_item_flex_item_img,.hall_img_100height{
        min-width: 200px !important;
    }
    .hall_item_flex_item_img{
       // max-height: 270px;
    }
    .hall_img_100height{
        max-height: 383px;
    }
    .hall_col1{
        flex-direction: column;
    }
    .hall_item{
        flex-direction: column;
    }
    .mobile_imgs{
        display: flex;
        gap: 20px;
        justify-content: center;
    }
    // Living Room
.living_room{
    .living_room_container{
        padding: 0 5%;
        .road_border_col_item_icon{
            width: 20px;
            height: 20px;
            margin: -15px auto 0;
            z-index: 2;
            display: inline-block !important;
        }
        .living_room_flex_item{
            flex-direction: column-reverse;
        }
    }
}
    // card_info_block
    .card_info_block{
        padding: 130px 100px 144px !important;
    }
    //kitchen
    .kitchen_wrapper{
        padding: 0 5%;
        .d_flex{
            flex-direction: column-reverse;
        }
        .kitchen_col_item{
            width: 100% !important;
    
        }
        .kitchen_col_item_imgs{
            display: flex;
            flex-direction: row;
            gap: 20px;
            .kitchen_col_item_img{
                width: 50%;
            }
        }
        .absolute_top{
            position: inherit !important;

        }

        .absolute_bottom{
            position: inherit !important;

        }
        .kitchen_col2{
            flex-direction: column !important;
            .kitchen_col2_item{
                width: 100%;
            }
        }
    }
}


@media(min-width:992px) and (max-width:1199.98px){
    .tudor_continer{
        padding: 0 5%;
    }
    .d_none_img{
        display: none !important;
    }
    .d_none_img_block{
        display: block !important;
    }
    //review
    .review_item_info_cards,.review_item_info_img_text{
        flex-wrap: wrap;
        justify-content: center;
    }
    .review_item_img{
        width: 290px !important;
    }
    .review_item_text{
        padding: 0 3%;
    }
    .hall_item_flex_item_img,.hall_img_100height{
        min-width: 200px !important;
    }

    // Living Room

.living_room{
    .living_room_container{
        padding: 0 5%;
        .road_border_col_item_icon{
            width: 20px;
            height: 20px;
            margin: -15px auto 0;
            z-index: 2;
            display: inline-block !important;
        }
    }
}


    // card_info_block

    .card_info_block{
        padding: 130px 100px 144px !important;
    }

    //kitchen

    .kitchen_wrapper{
        padding: 0 5%;
        .d_flex{
            flex-direction: column-reverse;
        }
        .kitchen_col_item{
            width: 100% !important;
    
        }
        .kitchen_col_item_imgs{
            display: flex;
            flex-direction: row;
            gap: 20px;
            .kitchen_col_item_img{
                width: 50%;
            }
        }
        .absolute_top{
            position: inherit !important;

        }

        .absolute_bottom{
            position: inherit !important;

        }
        .kitchen_col2{
            flex-direction: column !important;
            .kitchen_col2_item{
                width: 100%;
            }
        }
    }

}


@media(min-width:1200px) and (max-width:1399.98px){
    .tudor_continer{
        padding: 0 2%;
        .road_border_col{
            gap: 2px !important;
        }
    }
    .d_none_img{
        display: none !important;
    }
    .d_none_img_block{
        display: block !important;
    }
    .road_border_col1{
        border: 2px solid #AEA38B;
        border-bottom-right-radius: 150px;
        border-top-right-radius: 150px;
        border-left: none !important ;
        position: relative;
    
    
    
    }
    .border_col_item_bg{
        background:#fff;
        height: 250px;
    
        left: 0;
        top: 0;
        position: absolute;
    }

    .road_border_col_item_icon{
    width: 20px;
    height: 20px;
    margin: -15px auto 0;
    z-index: 2;
    display: inline-block !important;
}
.road_border_col{

    justify-content: end !important;

}
.hall_item_flex_item_img,.hall_img_100height{
    min-width: 260px;
}
// Living Room

.living_room{
    .living_room_container{
        padding: 0 5%;
    }
}

// card_info_block

    .card_info_block{
        padding: 130px 150px 144px !important;
    }


}


@media(min-width:1400px){
    .road_border_col1{
        border: 2px solid #AEA38B;
        border-bottom-right-radius: 150px;
        border-top-right-radius: 150px;
        border-left: none !important ;
        position: relative;
    }
    .d_none_img{
        display: none !important;
    }
    .d_none_img_block{
        display: block !important;
    }
    .border_col_item_bg{
        background:#fff;
        height: 250px;
    
        left: 0;
        top: 0;
        position: absolute;
    }

    .road_border_col_item_icon{
    width: 20px;
    height: 20px;
    margin: -15px auto 0;
    z-index: 2;
    display: inline-block !important;
}

.road_border_col{

    justify-content: end !important;

}


    
}






















// Canteen

@media(min-width:320px) and (max-width:575.98px){
    .canteen_wrapper{
        padding: 0 5%;
        .our_service_title{
            font-size: 35px !important;
            margin-bottom: 20px !important;
        }
        .canteen_col1{
            flex-direction: column-reverse;
            .canteen_col1_item_img{
                width: 100% !important;
            }
            .canteen_col1_item_img {
                min-width: 60px;
            }
        }

        .canteen_col3{
            align-items:inherit;
            flex-direction: column;
        }
        .canteen_col2_item_imgs{
            width: 100%;
            flex-wrap: wrap;
        }
        .canteen_col2_item_imgs_item,.canteen_col2_item_last_img{
            width: auto !important;

        }
        .canteen_col2_item_imgs_item {
            width: 100% !important;
            min-width: 1px !important;
        }

    }
}


@media(min-width:576px) and (max-width:767.98px){
    .canteen_wrapper{
        padding: 0 5%;

        .canteen_col1{
            flex-direction: column-reverse;
            .canteen_col1_item_img{
                width: 100%;
            }
        }

        .canteen_col2{
            margin: 50px auto 100px !important;


            .canteen_col2_item_imgs_item{
                min-width: 100%;
            }
            .kitchen_col2_item{
                display: flex;
                flex-direction: column;
                align-items:center;
                gap: 40px;
            }
        }
        .canteen_col3{
            align-items:inherit;
            flex-direction: column;
        }
        .canteen_col2_item_imgs{
            width: 100%;
            flex-wrap: wrap;
        }
        .canteen_col2_item_imgs_item,.canteen_col2_item_last_img{
            width: auto !important;

        }
        .canteen_col2_item_imgs_item {
            width: 100% !important;
            min-width: 1px !important;
        }
    }
}


@media(min-width:768px) and (max-width:991.98px){
    .canteen_wrapper{
        padding: 0 5%;

        .canteen_col1{
            flex-direction: column-reverse;
            .canteen_col1_item_img{
                width: 550px;
            }
        }

        .canteen_col2{
            margin: 50px auto 100px !important;

            .kitchen_col2_item{
                display: flex;
                flex-direction: column;
                align-items:center;
                gap: 40px;
            }
        }
        .canteen_col3{
            align-items:inherit;
        }
        .canteen_col2_item_imgs{
            width: 100%;
        }
        .canteen_col2_item_imgs_item,.canteen_col2_item_last_img{
            width: auto !important;
        }
        .canteen_col2_item_imgs_item {
            width: 50% !important;
            min-width: 1px !important;
        }
    }
}


@media(min-width:992px) and (max-width:1199.98px){
    .canteen_wrapper{
        padding: 0 5%;

        .canteen_col1{
            flex-direction: column-reverse;
            .canteen_col1_item_img{
                width: 550px;
            }
        }

        .canteen_col2{
            margin: 50px auto 100px !important;

            .canteen_col2_item_imgs{

            }
            .kitchen_col2_item{
                display: flex;
                flex-direction: column;
                align-items:center;
                gap: 40px;
            }
        }
        .canteen_col2_item_imgs{
            width: 100%;
        }
        .canteen_col2_item_imgs_item,.canteen_col2_item_last_img{
            width: auto !important;
        }
        .canteen_col2_item_imgs_item {
            width: 50% !important;
            min-width: 1px !important;
        }
    }
    
}


@media(min-width:1200px) and (max-width:1399.98px){
    .canteen_wrapper{
        padding: 0 5%;
        .canteen_col1{
            flex-direction: column-reverse;
            .canteen_col1_item_img{
                width: 550px;
            }
        }

        .canteen_col2{
            margin: 50px auto 100px !important;

            .canteen_col2_item_imgs{
            width: 100%;


            }

            .kitchen_col2_item{
                display: flex;
                flex-direction: column;
                align-items:center;
                gap: 40px;
            }
        }
        .canteen_col2_item_imgs_item,.canteen_col2_item_last_img{
            width: auto !important;
        }
        .canteen_col2_item_imgs_item {
            width: auto !important;
            min-width: 1px !important;
        }
    }
    .canteen_col2_item_last_img{
        display: block !important;
    }
.canteen_col3{
    .canteen_col3_last_img_mobile_block{
        display: none !important;
    }
}

.master_badroom_wrapepr{
    padding: 0 5%;
    .canteen_col2_item_imgs{
        width: 100%;
        .canteen_col2_item_imgs_item{
            width: 50%;
            min-width: 1px !important;
        }
        .canteen_col2_item_last_img {
            width: auto !important;
        }
    }
}

}


@media(min-width:1400px){
    .mobile_canteen_none_block{
        display: block !important;
    }
    .canteen_col2_item_last_img{
        display: block !important;
    }
    .canteen_col3_item_last_img{
        display: none !important;
    }
    .mobile_img_as_bg_none{
        display: block !important;
    }.canteen_col3{
    .canteen_col3_last_img_mobile_block{
        display: none !important;
    }
}
}






















// Intro

@media(min-width:320px) and (max-width:575.98px){}


@media(min-width:576px) and (max-width:767.98px){}


@media(min-width:768px) and (max-width:991.98px){}


@media(min-width:992px) and (max-width:1199.98px){}


@media(min-width:1200px) and (max-width:1399.98px){}


@media(min-width:1400px){}






















// Intro

@media(min-width:320px) and (max-width:575.98px){}


@media(min-width:576px) and (max-width:767.98px){}


@media(min-width:768px) and (max-width:991.98px){}


@media(min-width:992px) and (max-width:1199.98px){}


@media(min-width:1200px) and (max-width:1399.98px){}


@media(min-width:1400px){}












