@import '_media';
body{
*{
    font-family: 'Open Sans',sans-serif !important;
}
    &::-webkit-scrollbar {
        z-index: 999999999999999999999999999999999999 !important;
        background: #f1f1f1 ;
      }
      &::-webkit-scrollbar-track {
        z-index: 999999999999999999999999999999999999 !important;

      }
      &::-webkit-scrollbar-thumb {
        z-index: 999999999999999999999999999999999999 !important;
        background:   #3F4046;

      }
      &::-webkit-scrollbar-button{
        display: none;
      }

}
.header_none_bg{
    background:none !important;
    height:auto !important;
}
.link_black_color{
    color:  #000 !important;
}
.media_services{
    margin-top: 0 !important;
}
header{
    width: 100%;
    background-image: url(../img/intro_bg.png);
    background-size: cover;
    .logo{
        width: 200px;
        display: inline-block;
    }
    .header_container{
        display: flex;
        justify-content: space-between;

    }
    .intro_nav{


        .nav_links{
            display: flex;
            gap: 50px;
            padding-top: 43px;
            justify-content: flex-end;
            .nav_item{
                font-family: 'Open Sans',sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 25px;
                color: #FFFFFF;
                cursor: pointer;
                position: relative;
                display: flex;
                flex-direction: column;
                transition: .5s;
                text-decoration: none;
                &::after{
                    content:'';
                    width: 100%;
                    height: 1px;
                    background:#D8B152;
                    position: absolute;
                    top: 30px;
                    left: 0;
                    opacity: 0;
                    transition: .35s;
                }
                &:hover{
                    letter-spacing: .5px;
                    &::after{
                        opacity: 1;
                    }
                }
            }
        }
    }
.intro_info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .intro_info_title{
        font-family: 'Open Sans',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 56px;
        line-height: 140%;
        color: #FFFFFF;
    }
    .info_text{
        font-family: 'Open Sans',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
    }
    .info_btn{
        margin-top: 20px;
        padding: 18px 0;
        width: 100%;
        background:#D8B152;
    }

}

.info_btn{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    transition: .5s;
    cursor: pointer;
    &:hover{
        background:#c3a14a;
    }
}

.our_service{

    width: 100%;
    max-width: 1165px;
    margin: 120px auto 0;
}
.our_service_flexbox{
    margin-top: 60px;
    margin-bottom: 140px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.item1{
    background-image: url(../img/our_services/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.item2{
    background-image: url(../img/our_services/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.item3{

}
.our_service_flexbox_item{
    position: relative;
    &:hover{
        .flexbox_item_img{
            &::after{
                opacity: 0;
            }
        }
    }


.flexbox_item_img{
    position: relative;


    &::after{
        content:'';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background:#503D2B;
        width: 100%;
        height: 100%;
        opacity:.7 ;
        transition: .5s;
    }
}
    &:hover{

        .flexbox_item_info{
            top: 30%;
            .info_btn{
                display: block;
            }
        }
    }
}
.our_service_title{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 63px;
    color: #424242;
}

.flexbox_item_info{
    transition: 0.5s;
    position: absolute;
    top: 40%;
    left: 12%;
    width: 75%;
    .info_btn{
        padding: 18px 0;
        background:#D8B152;
        width: 100%;
        margin: 30px auto 0;
        display: none;
        &:hover{
            background: #c3a14a;;
        }
    }
}
.flexbox_item_text{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;

}

footer{
    background: #202020;
    padding: 140px 120px 48px;
    .logo{
        img{
            margin-top: -7%;
        }
    }
    .footer_flex_info{
        display: flex;
        justify-content: space-between;
        *{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            text-decoration: none;
            color: #FFFFFF;
            cursor: pointer;
            &:visited{
                color: #FFFFFF;
            }
            &:hover{
                color: #FFFFFF;
            }
        }
    }
    .footer_tel_img{
        display: inline-block;
        min-width: 22px;
    }
    .footer_wrapper{
        width: 100%;

        margin: auto;
        .footer_conatiner{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .footer_flex{
            display: flex;

        }
    }
    hr{
        width: 100%;
        background: #D8B152;
        opacity: 1;
        margin: 50px auto;
    }
}
.footer_flex_cols{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.footer_flex_col_item{
    display: flex;
        width: 100%;
    justify-content: center;
}
.flex_col_title,.flex_col_text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.rotate_close{
    transform: rotate(-45deg);
}
.flex_col_title{
    margin-bottom: 10px;
}
.flex_col_text{
    font-weight: 400;
}
.col1{

    gap: 30px;
}
.col2{
    gap: 84px;
    .flex_col_text{
        display: flex;
        gap: 10px;
    }
}
.col_messengers{
    display: flex;
    flex-direction: row !important;
    gap: 20px !important;
    .flex_col_text{
        width: 50px;
        height: 50px;
        padding: 13px;

        border: 1px solid #D8B152;
        .white{
            display: none;
        }
        
        &:hover{
            background:#D8B152;
            .white{
                display: inline-block;

            }
            .defolt{
                display: none;
            }
        }

    }
}
.flex_col{
    flex-direction: column;
    display: flex;
    gap: 10px;
    *{
        cursor: pointer;
        text-decoration: none;
        &:visited{
            color: #FFFFFF;
        }
        &:hover{
            color: #FFFFFF;
        }
    }
}





















































@media(max-width:767.98px){
    .nav{
        display: none !important;
    }
    .menu_wrapper{
        display: none;
    }
    .burger{
        display: flex !important;
    }

}

@media(min-width:768px){
    .burger,.menu_wrapper,.menu_open{
        display: none !important;
    }

    .d-none{
        display: block !important ;
    }
    .overflow_hidden{
        overflow: scroll !important;
    }

}
.overflow_hidden{
    overflow: hidden ;
}

.d-none{
    display: none ;
}

.transform_rotate{
    flex-direction: column;
    gap: 9px;
    position: absolute;
    justify-content: center;
    height: 45px;
    z-index: 999 !important;
    cursor: pointer;
    top: 8%;
    right: 8%;
    .span_burger1{
        transform: rotate(-45deg);
        transition: .5s;

    }
    .span_burger2{
        display: none !important;
    }
    .span_burger3{
        margin-top: -31.3%;
        transform: rotate(45deg);
        transition: .5s;

    }

    span{
        width: 40px;
        height: 4px;
        background:#D8B152;
        cursor: pointer;
    }
}
.nav_link{
    cursor: pointer;
}
.menu_open{
    display: flex ;
    height: 100vh !important;
    width: 100%;
    position: absolute;
    justify-content: center;
    transition: .5s;
    pointer-events: all;
    z-index: 999;
    opacity: 1;
    right: 0;
    top: 0;
    z-index: 10;
    background: #916e6e;
    .menu_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
            z-index: 10;

        .menu_link{
            text-decoration: none;
            font-family: 'Raleway',sans-serif;
            font-size:2.1rem;
            font-weight: 600;
            line-height: 70px;
            letter-spacing: 3px;
            text-align: center;
            color: #fff;
            margin-left: 0;
            text-transform: uppercase;
            display: inline-block;
            vertical-align: top;
            position: relative;
            width: 100%;
                cursor: pointer;
                    z-index: 10;
          }
        .button{
            background: #3293E2;
            width: 100%;
            padding: 0px 18px;
            border-radius: 20px;
            margin:5% auto 0;
                cursor: pointer;
                    z-index: 10;
        }
    }
}













//Awards
.awards_wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.awards_item{
    display: flex;
    gap: 40px;

}
.awards_item_container{
    display: flex;
    flex-direction: column;
    hr{
        width: 100%;
        background:#AEA38B;
        opacity: 1;
        margin: 50px auto;
    }
}
.awards_item_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.awards_item_info_btn{
    padding: 18px 0;
    background:#D8B152;
    max-width: 260px;
    &:hover{
        background: #c3a14a;;
    }
}
.awards_item_info_text_title{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    color: #424242;
    margin-bottom: 20px;
}


.awards_item_info_text_subtitle{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #424242;

}

.main_request{
    width: 100%;
    margin: 0 auto 140px;
    .main_request_wrapper{
        width: 100%;
        max-width:1165px;
        margin: auto;
        gap: 60px;
        display: flex;
        flex-direction: column;
        .main_request_info,.main_request_form_item{
            display: flex;
            flex-direction: column;
        }
        form{
            width: 100%;
            justify-content: space-between;
            display: flex;
            gap: 40px;
        }
        input,textarea{
            outline: none;
            border: 2px solid #AEA38B;
            padding: 18px 30px;
            &:focus{
                &::placeholder{
                    opacity: 0;
                }
            }
        }
        .main_request_form_item2{
            height: 100%;
            width: 100%;

            
        }
        textarea{
            resize: none;
            height: 229px;
        }
        .main_request_title{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 46px;
            line-height: 63px;
            color: #424242;
            margin-bottom: 20px;
        }
        .main_request_subtitle{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            color: #424242;

        }
        .main_request_form_item1{
            width: 360px;
            gap: 20px;
            .request_btn,input{
                width: 100%;

            }
            .request_btn{
                background: #D8B152;
                padding: 18px 0;
                &:hover{
                    background: #c3a14a;
                }
            }

        }
    }
}




//main_publication


.main_publication{
    width: 100%;
    margin-bottom: 140px;
    .publication_wrapper{
        width: 100%;
        max-width: 1165px;
        margin: auto;

        .our_service_title{
            margin-bottom: 90px;
        }
        .vertical_line{
            position: absolute;
            top: 0;
            left: 50%;
            width: 1px;
            height: 100%;
            background:#AEA38B;
            opacity: 1;
            
        }
        .pl2{
            margin-left: 8%;
        }
        .pr2{
            margin-right: 8%;
        }

        .publication_container{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 40px;
            position: relative;
            .publication_col{
                display: flex;
                width: 100%;
                .publication_col_item{
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    justify-content: space-between;
                    hr{
                        width: 100%;
                        background:#AEA38B;
                        opacity: 1;
                        height: 1px;
                        margin-bottom: 0;
                    }
                    .publication_col_item_info{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        justify-content: space-between;
                        .publication_col_title{
                            font-family: 'Open Sans',sans-serif;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 28px;
                            line-height: 140%;
                            color: #424242;
                        }
                        .publication_col_subtitle{
                            font-family: 'Open Sans',sans-serif;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 150%;
                            color: #424242;
                        }
                    }

                    .publication_col_btn{
                        background: #D8B152;
                        padding: 18px 0;
                        margin-top: 10px;
                        width: 260px;
                        &:hover{
                            background: #c3a14a;
                        }
                    }
                }
            }
        }
    }
}






// About_page
.about_section{
    width: 100%;
    padding-bottom: 105px;
    .our_service_title{
        margin-bottom: 60px;
    }
    .about_section_col_img{
        width: 70%;
    }
.margin_for_p{
    margin-bottom: 2%;
}
    .about_section_wrapepr{
        width: 100%;
        max-width: 1165px;
        margin: auto;
        .about_section_container{
            width: 100%;
        }
        .about_section_col{
            display: flex;
            gap: 40px;
            justify-content: space-between;
            margin-bottom: 35px;
            align-items: center;
            width: 100%;
        }
    }
}
.about_section_col_text{
    p{
        font-family: 'Open Sans',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: #424242;
    }
}

.about_section_col_item_title{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #424242;
}
.about_section_col_item_text{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #424242;
    
}
.about_section_col2{
    margin-bottom: 0 !important;
    .about_section_col_item{
        flex-direction: column;
        display: inline-flex;
        gap: 20px;
    }
}




// Тюдор page
.tudor{
    margin: 0 auto 50px; 
}

.tudor_wrapper{
    width: 100%;
    max-width: 1165px;
    margin: auto;

    .tudor_continer{
        width: 100%;

        img{
            width: 100%;
            height: 100%;
        }
        .road_date_img{
            margin: 50px auto 60px;
            width: 100%;
        }
        .road_border{
            width: 100%;
            .road_border_col{
                display: flex;
                gap: 40px;
                justify-content: center;
                padding: 0 1% 61px 0;
            }
        }
    }
}


.road_border_col_item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 360px;
   
}
.road_border_col_item_icon{

    display: none;
}
.road_border_col_item_title{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #424242;
}
.road_border_col_item_text{
    font-family: 'Open Sans',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
text-align: center;
color: #424242;
}
.w_100{
    width: 100%;
}
.max_width_1165px{
    width: 100%;
    max-width: 1165px;
}
.d_flex{
    display: flex;
}
.review_item_info_cards{
    display: flex;
    gap: 40px;
}
.pb-36{
    padding: 37px 20px 36px !important;
    height: 100px;
}
.review_item_cards_item{
        padding: 23px 20px 23px;
        color: #FFFFFF;
        background: #AEA38B;
        text-align: center;
        font-family: 'Open Sans',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        width: 360px;

}

.review_item_info_img_text{
    gap: 40px;
    margin: 70px auto 140px;
    .review_item_img{
        width: 380px;
    }
}

.hall_item,.hall_item_flex{
    gap: 40px;
}
.hall_item_title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 63px;
    color: #424242;
    margin-bottom: 50px;
}
.hall_item_flex_item_text,.hall_col2_text{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #424242;
}
.hall_col2{
    margin-top: 50px;
}
.hall_item_flex_item_img,.hall_img_100height{
    min-width: 260px;
}

.d_none_img{
    display: block;
}

.d_none_img_block{
    display: none;
}

.w100_img{
   // background-image: url(../img/Tudor/6.png);
    //background-size: cover;
   // background-position: center;
   // background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.first_img_as_bg{
    width: 100%;
    margin-bottom: 120px;
    img{
        width: 100%;
    }
}
.living_room{
    margin-bottom: 50px;

}
.living_room_container{
    width: 100%;
    max-width: 1165px;
    margin: auto;
}
.living_room_col1{

    .living_room_flex_item{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 40px;
        margin: 50px auto 60px;
    }
}
.living_room_col2{
    border-top: 1px solid #503D2B;
    display: flex;
    gap: 40px;
    .living_room_col2_item{
        display: flex;
        flex-direction: column;
    }
}
.living_room_flex_item_img{
    display: inline-block;
}
.living_room_flex_item_text{
    p{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #424242;
    }
}
.card_info_block{
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    padding: 130px 300px 144px;
    background: #AEA38B;
}